body {
    font: 400 1em/1.5 "Neuton";
    color: rgba(255, 255, 255, 0.25);
    text-align: center;
    margin: 0;
  }

  p {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    width: 40em;
  }
  canvas {
    width:150px;
    height:200px;
    border-left:25px solid #ffff00;
    border-right:25px solid #ffff00;
    margin: 5px;
  }
  .First {
    border-top:25px solid #656565;
    border-bottom:25px solid #ffff00;
  }
  .Second {
    border-top:25px solid #ffff00;
    border-bottom:25px solid #656565;
  }
  p span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  
  @-webkit-keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }