body {
    background-image: url("./asfalto.png");
    font: 400 1em/1.5 "Neuton";
    color: rgba(255, 255, 255, 0.25);
    text-align: center;
    margin: 0;
  }

  canvas {
    width:150px;
    height:200px;
    border-left:25px solid #ffff00;
    border-right:25px solid #ffff00;
    margin: 10px;
  }

  .First {
    border-top:25px solid #656565;
    border-bottom:25px solid #ffff00;
    -webkit-transform: skew(-10deg);
  }

  .Second {
    border-top:25px solid #ffff00;
    border-bottom:25px solid #656565;
    -webkit-transform: skew(-10deg);
  }
  
  @-webkit-keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
  }

  h1.retroshadow {
    color: #2c2c2c;
    background-color: #d5d5d5;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
  }
  